#### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

#### Certainly! You can create a Pandas Series with the given data using the following code in Python:

In [1]:
import pandas as pd

# Create a Pandas Series
data = [4, 8, 15, 16, 23, 42]
my_series = pd.Series(data)

# Print the series
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

####
This will outpupt:

In [ ]:
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

####
The index is automatically assigned starting from 0, and the data from your list is stored in the series.

#### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

#### solve
Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [3]:
import pandas as pd

# Create a list with 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert the list to a Pandas Series
my_series = pd.Series(my_list)

# Print the series
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

####
In this example, the list my_list is converted into a Pandas Series using the pd.Series() function, and the resulting series is printed.

#### Q3. Create a Pandas DataFrame that contains the following data: Then, print the DataFrame.

#### solve

It seems like you forgot to provide the specific data for the Pandas DataFrame. However, I'll provide an example with some random data:

In [4]:
import pandas as pd

# Example data for the DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 22, 28],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
}

# Create a Pandas DataFrame
my_dataframe = pd.DataFrame(data)

# Print the DataFrame
print(my_dataframe)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles
3    David   28        Chicago

####
Replace the data dictionary with your specific data. Each key in the dictionary corresponds to a column in the DataFrame, and the values are lists containing the data for each column. The above example will output:

#### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

#### solve

In pandas, both DataFrame and Series are essential data structures, but they serve different purposes.

DataFrame:

A DataFrame is a two-dimensional, tabular data structure in pandas. It is essentially a container for Series objects with the same index, and it is similar to a spreadsheet or SQL table.

It has rows and columns, where each column can be of a different data type.

You can think of a DataFrame as a collection of Series where each Series represents a column in the DataFrame.

It is capable of handling various types of data and is suitable for working with structured data.

Series:

A Series, on the other hand, is a one-dimensional labeled array. It is essentially a single column of a DataFrame.

A Series has an index that labels each element in the array. This index can be automatically generated or explicitly set.

It is suitable for handling one-dimensional data and is often used for time series data, among other applications.

Example:

In [5]:
import pandas as pd

# Creating a Series
my_series = pd.Series([10, 20, 30, 40], name='MySeries')

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 22, 28],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']}

my_dataframe = pd.DataFrame(data)

# Printing Series and DataFrame
print("Series:")
print(my_series)
print("\nDataFrame:")
print(my_dataframe)

Series:
0    10
1    20
2    30
3    40
Name: MySeries, dtype: int64

DataFrame:
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles
3    David   28        Chicago

####
In the example above, my_series is a one-dimensional labeled array, and my_dataframe is a two-dimensional tabular structure with multiple columns, where each column is a Series. The DataFrame provides a convenient way to organize and manipulate structured data, while the Series is used when dealing with one-dimensional data.

#### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

#### solve

Pandas provides a wide range of functions for manipulating and analyzing data in a DataFrame. Here are some common functions:

a.head() and tail(): These functions allow you to view the first or last n rows of your DataFrame.

b.Describe(): provides summary statistics of numerical coulums in the DataFrame

c.info(): Gives a concise summary of a DataFrame, including data types and missing values.

d.Shape: Returns the dimensions (rows, coulumns) of the DataFrame

c.loc[] and iloc[]: Used for acessing a group of rows and coulumns by lables('loc[]')  or integer-based indexing ('iloc[]')

e.groupby(): Groups the DataFrame by one or more columns for further analysis.

f.sort_values(): Sorts the DataFrame by specified columns.

g.drop(): Allows you to remove specified rows or columns from the DataFrame.

h.fillna(): Fills missing values with a specified value or a method like forward fill or backward fill.

i.fillna(): Fills missing values with a specified value or a method like forward fill or backward fill.

#### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

#### solve

In Pandas, the Series and DataFrame are mutable, whereas the Panel is not mutable.

Series: A Pandas Series is mutable, meaning you can modify its values and attributes after it has been created.

DataFrame: Similarly, a Pandas DataFrame is mutable. You can modify its data, add or remove columns, and perform various operations to change its structure or content.

Panel: Pandas Panel, on the other hand, is considered deprecated as of version 0.25.0. It is recommended to use multi-index DataFrames or the xarray library for three-dimensional data. However, Panels, when they were part of Pandas, were considered immutable.

In summary, Series and DataFrame are mutable, while Panel, which is no longer a major component of Pandas, is considered immutable.

#### Q7. Create a DataFrame using multiple Series. Explain with an example.

#### solve

Certainly! You can create a DataFrame using multiple Series by combining them into a dictionary where keys are column names, and values are the Series. Here's an example:

In [6]:
import pandas as pd

# Creating multiple Series
name_series = pd.Series(['Alice', 'Bob', 'Charlie', 'David'], name='Name')
age_series = pd.Series([25, 30, 22, 28], name='Age')
city_series = pd.Series(['New York', 'San Francisco', 'Los Angeles', 'Chicago'], name='City')

# Combining Series into a DataFrame
data = {'Name': name_series, 'Age': age_series, 'City': city_series}
my_dataframe = pd.DataFrame(data)

# Print the DataFrame
print(my_dataframe)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles
3    David   28        Chicago

####
In this example, three Series (name_series, age_series, and city_series) are combined into a dictionary data, where the keys are the column names ('Name', 'Age', 'City'), and the values are the respective Series. The dictionary is then used to create a DataFrame (my_dataframe). Each Series becomes a column in the resulting DataFrame